html {
    height: 100%;
    width: 100%;
}

body {
    display: grid;
    justify-items: center;
    align-items: center;
}

main {
    padding: 0px 0px 5px 5px;
}

#expenses-table-div {
    margin-bottom: 5dvb;
}

#expenses-table {
    margin: 0 auto;
    border: 1px solid black;
}

td, th {
    border: 1px solid black;
}

#balances-div {
    display: grid;
    grid-template-columns: auto auto;
    margin: 0px 0px 5px 5px;
}

#department-dropdown-div {
    justify-items: left;
    position: relative;
    display: inline-block;
    margin-bottom: 2dvb;
}

#bottom-buttons-div {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: auto auto;
}
