* {box-sizing: border-box;}

html {
    height: 100%;
}

body {
    display: grid;
    width: fit-content;
    display: grid;
    align-items: center;
    justify-items: center;
}

#form-div {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-items: left;
    margin-bottom: 2dvb;
    gap: 5px 5px;
}

.form-field {
    margin: 1dvb auto 1dvb auto;
}

#output-buttons-div {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-items: center;
}